{% import '@F0skaAutoGridTest/components/theme_switcher.html.twig' as agt %}

<div class="top-bar is-sticky" id="example-menu" data-responsive-toggle="example-menu" data-hide-for="medium" style="position: fixed; top: 0; width: 100%; z-index: 1000; padding-top: 0; padding-bottom: 0;">
    <div class="grid-container" style="max-width: 1440px; padding-left: 2rem; padding-right: 2rem;">
        <div class="top-bar-left">
            <div class="top-bar-right">
                <ul class="menu">
                    {% for item in navItems %}
                        <li>
                            <a class="{{ agt_is_nav_active(item.route) ? 'is-active' }}"
                               href="{{ agt_theme_url(null, item.route) }}">
                                {{ item.label }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<style>
    .autogrid-theme-btn svg {
        width: 24px !important;
        height: 24px !important;
    }
    body {
        padding-top: 70px !important;
    }
    #main-content-wrapper {
        max-width: 1440px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
    .menu .is-active {
        background-color: rgba(0, 0, 0, 0.1);
    }
    .menu a {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
</style>
{% set mainContentClass = 'grid-container mt-5' %}
