{% set tags = agFieldValue(entity, field) %}
{% if (tags is empty) %}
    -
{% else %}
    <div class="d-flex flex-wrap gap-1">
        {% for tag in tags %}
            {% set label = agChoiceLabels(tag, field)|first %}
            {% set value = agChoiceValues(tag, field)|first %}
            <a href="{{ agRun(agActionUrl, 'grid', {'filter': {'tags': value}}) }}" class="badge bg-secondary text-decoration-none">
                {{ label }}
            </a>
        {% endfor %}
    </div>
{% endif %}
