{% extends '@F0skaAutoGridTest/base.html.twig' %}

{% block title %}Basic example{% endblock %}

{% block content %}
    <div class="card mb-5">
        <div class="card-body">{{ agRender(grid) }}</div>
    </div>
{% endblock %}
